@model IEnumerable<test.Models.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerInvoice</title>
</head>
<body>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("CustomerInvoice", "Customer", FormMethod.Post))
    {
        <p>
            Search:@Html.TextBox("name")
            <input type="submit" name="name" id="name" value="Search" class="btn btn-info" />
        </p>
    }
    <table class="table" style="color:black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDetail.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDetail.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDetail.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDetail.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pincode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
